.jfx-decorator {
    -fx-decorator-color: #283593;
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-hamburger StackPane {
    -fx-background-color: white;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 4 4 4;
}

.jfx-slider > .track {
     -fx-background-color: #ffffff;
}

/* Styling the slider thumb */
.jfx-slider > .thumb {
     -fx-background-color: #EEFF41;
}

/* Styling the filled track */
.jfx-slider > .colored-track {
     -fx-background-color: #EEFF41;
}

/* Styling the animated thumb */
.jfx-slider > .animated-thumb {
     -fx-background-color: #EEFF41;
}

/* Styling the slider value text inside animated thumb */
.jfx-slider .slider-value {
     -fx-fill: white;
     -fx-stroke: white;
}

.button{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-size: 1em; /* 12 */
    -fx-text-fill: #828282;
}

.button:focused {
    -fx-border-color: transparent, black;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 2);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}


.jfx-list-view {
    -fx-background-insets: 1;
    -jfx-cell-horizontal-margin: 0.0;
    -jfx-cell-vertical-margin: 5.0;
    -jfx-vertical-gap: 10;
    -jfx-expanded: false;
}

.jfx-list-cell-container {
    -fx-alignment: center-left;
}

.jfx-list-cell-container > .label {
    -fx-text-fill: BLACK;
}

.jfx-list-cell:odd:selected > .jfx-rippler > StackPane, .jfx-list-cell:even:selected > .jfx-rippler > StackPane {
    -fx-background-color: rgba(66, 66, 66, 0.2);
}

.jfx-list-cell {
    -fx-background-insets: 0.0;
    -fx-text-fill: white;
    -fx-cell-size: 45;
}

.jfx-list-cell:odd, .jfx-list-cell:even {
    -fx-background-color: #161616
}

.jfx-list-cell:filled:hover {
    -fx-text-fill: white;
}

.jfx-list-cell .jfx-rippler {
    -jfx-rippler-fill: rgba(99, 99, 99, 1);
}

